/* comments */

#title {
    color: blue;
    text-align: center;
}

#pantrytitle {
    height: auto;
    width: 66%;
    background-color: beige;
}

#pantry-image {
    height:auto;
    Width: 33%;
}

#freezertitle {
    height: auto;
    width: 66%;
    background-color: beige;
}

#freezer-image {
    height:auto;
    Width: 33%
}

#pantry {
    background-color: silver;
}